{% extends "officer/officer_home.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'officer/officer_active_crop.css' %}">
 
    <!-- Page content -->
    <div class="content">

        <div class="form-group">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li>
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <h1><u><b>Verified Crops</b></u></h1>

        <div class="addcrop">
            <a class="btn btn-success" href="{% url 'officer_add_crop' %}"><i class="fas fa-plus-circle"></i>Add Deatil of Crop</a>
        </div>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">SL NO.</th>
                    <th scope="col">Crop</th>
                    <th scope="col">Soil</th>
                    <th scope="col">Min Rainfall</th>
                    <th scope="col">Max Rainfall</th>
                    <th scope="col">Detail</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for c in crops %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{c.crop}}</td>
                    <td>{{c.soil}}</td>
                    <td>{{c.min_rainfall}}</td>
                    <td>{{c.max_rainfall}}</td>
                    <td>{{c.detail}}</td>
                    <td><a class="btn btn-danger" href="{% url 'delete_crop_active' %}?crop_id={{c.pk}}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

{% endblock %}