{% extends "officer/officer_home.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'officer/officer_add_crop.css' %}">

<div class="content">

    <form method="POST">
        {% csrf_token %} 
        <div class="container">
            <h1><u>Add Crop</u></h1>
            
            <hr>

            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.crop | as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.soil | as_crispy_field }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.min_rainfall | as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.max_rainfall | as_crispy_field }}
                </div>
            </div>

            {{ form.detail | as_crispy_field }}

            <hr>
            
            <button type="submit" class="btn btn-primary" >Add</button>
            <button type="reset" class="btn btn-primary">Reset</button>
        </div>
    </form>
</div>
{% endblock %}