{% extends "officer/officer_home.html" %}
{% block content %}  
    
    <!-- Page content -->
    <div class="content">
        <h1><u><b>Verify Crop</b></u></h1>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">SL NO.</th>
                    <th scope="col">Crop</th>
                    <th scope="col">Soil</th>
                    <th scope="col">Min Rainfall</th>
                    <th scope="col">Max Rainfall</th>
                    <th scope="col">Detail</th>
                    <th scope="col">Approve Soil</th>
                    <th scope="col">Delete Soil</th>
                </tr>
            </thead>
            <tbody>
                {% for c in crops %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{c.crop}}</td>
                    <td>{{c.soil}}</td>
                    <td>{{c.min_rainfall}}</td>
                    <td>{{c.max_rainfall}}</td>
                    <td>{{c.detail}}</td>
                    <td><a class="btn btn-success" href="{% url 'approve_crop' %}?crop_id={{c.pk}}">Approve</a></td>
                    <td><a class="btn btn-danger" href="{% url 'delete_crop' %}?crop_id={{c.pk}}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}