{% extends "admin/admin_home.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'admin/admin_active_rainfall.css' %}">

<!-- Page content -->
<div class="content">
    
    <div class="btn-group float-right">
        <a href="{% url 'admin_add_rainfall' %}" class="btn btn-primary"><i class="fas fa-plus-circle"></i>Add Rainfall</a>
    </div>

    <h1><u><b>Details of Rainfall</b></u></h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">SL NO.</th>
                <th scope="col">District</th>
                <th scope="col">Rainfall (in cm)</th>
                <th scope="col">Year</th>
                <th scope="col">Add On</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for r in rainfalls %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{r.district}}</td>
                <td>{{r.rainfall}}</td>
                <td>{{r.year}}</td>
                <td>{{r.addon}}</td>
                <td><a class="btn btn-danger" href="{% url 'delete_rainfall_active' %}?rainfall_id={{r.pk}}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}